-e git+ssh://git@github.com/Wbrown633/v0.git@1e3460bc87db94aab61cad1f3d8787e75b0ba2aa#egg=cd_alpha
certifi==2022.12.7
charset-normalizer==2.0.7
dacite==1.6.0
docutils==0.17.1
gitdb==4.0.9
GitPython==3.1.30
idna==3.3
Kivy==2.1.0
Kivy-Garden==0.1.5
Pillow==9.3.0
Pygments==2.10.0
pyserial==3.5
requests==2.31.0
smmap==5.0.0
urllib3==1.26.7
