[Unit]
Description=Chip Diagnostics ChipFlow App
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/v0/cd_alpha/ChipFlowApp.py
Environment=DISPLAY=:0
# Pick up the users X-cookie that gives access to the display.
Environment=XAUTHORITY=/home/pi/.Xauthority
KillMode=process
TimeoutSec=300
WorkingDirectory=/home/pi/v0/cd_alpha
User=pi
Group=pi

[Install]
WantedBy=graphical.target