[Unit]
Description=Chip Diagnostics ChipFlow App
After=multi-user.target

[Service]
Type=idle
# TODO: change this so that it isn't hard coded to ignore v0 directory
ExecStart=/usr/bin/python3 /home/pi/cd_alpha/ChipFlowApp.py
Environment=DISPLAY=:0
# Pick up the users X-cookie that gives access to the display.
Environment=XAUTHORITY=/home/pi/.Xauthority
Restart=always
RestartSec=3s
KillMode=process
TimeoutSec=infinity
WorkingDirectory=/home/pi/cd_alpha
User=pi
Group=pi

[Install]
WantedBy=graphical.target